language: node_js
sudo: required
node_js:
  - 'stable'
before_cache:
  - nix-collect-garbage -d
cache:
  directories:
    - node_modules
    - nix
  timeout: 9000
before_install:
  - . governance-service/gov-testchain/install-dapptools.sh
install:
  - yarn install
script:
  - yarn testnet --ci yarn test
before_deploy:
  - yarn build
  - cd build
  - npm install now --no-save
deploy:
  - provider: script
    script: now --token $NOW_TOKEN && now alias --token $NOW_TOKEN
    skip_cleanup: true
    on:
      master: true
