language: node_js
sudo: required
node_js:
  - 'stable'
before_cache:
  - nix-collect-garbage -d
cache:
  directories:
    - node_modules
    - nix
  timeout: 9000
before_install:
  - ./gov-testchain/install-dapptools.sh
install:
  - yarn install
script:
  - yarn testnet --ci yarn test
